* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.home-page {
    display: block;
}

.about-me {
    display: none;
}

.my-work {
    display: none;
}

.contact-me {
    display: none;
}

.my-name {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    cursor: default;
}

.on {
    animation-name: toggle1;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

.off {
    animation-name: toggle2;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

@keyframes toggle1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(220deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

@keyframes toggle2 {
    0% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(400deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.nav {
    width: 5%;
    aspect-ratio: 1 / 3;
    position: fixed;
    bottom: 0%;
    left: 2%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.nav-item {
    position: relative;
    width: 70%;
    aspect-ratio: 1 / 1;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
    transition-duration: 500ms;
    overflow: visible;
    cursor: pointer;
}

.nav-item::after {
    width: max-content;
    height: 100%;
    color: white;
    position: absolute;
    left: 125%;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 0;
}

.nav-item::before {
    content: '';
    height: 100%;
    background-color: black;
    position: absolute;
    right: -12rem;
    z-index: 1;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    display: none;
    border-left-color: white;
    border-left-width: 1px;
}

.nav-item:nth-of-type(1):after {
    content: 'About Me';
}

.nav-item:nth-of-type(2):after {
    content: 'My Projects';
}

.nav-item:nth-of-type(3):after {
    content: 'Contact Me';
}


.nav-item > i {
    transition: all;
    transition-duration: 500ms;
    font-size: 2rem;
}

.nav-item:hover::before {
    display: initial;
    animation-name: reveal;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes reveal {
    0% {
        width: 12rem;
        border-left-style: solid;
    }
    75% {
        border-left-style: solid;
    }
    100% {
        width: 0rem;
        border-style: none;
    }
}

@media only screen and (max-width: 1350px) {
    .nav-item::before {
        right: -9rem;
    }

    @keyframes reveal {
        0% {
            width: 9rem;
            border-left-style: solid;
        }
        75% {
            border-left-style: solid;
        }
        100% {
            width: 0rem;
            border-style: none;
        }
    }
}

.nav-item:hover::after {
    display: flex;
}

.nav-item:hover > i{
    transform: rotateZ(30deg);
}

.wipe {
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: white;
    display: none;
    z-index: 10;
}

.start-wipe {
    display: block;
    animation-name: wipe;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes wipe {
    0% {
        height: 0%;
        top: 0%;
    }
    50% {
        height: 100%;
        bottom: 0%;
    }
    100% {
        bottom: 0%;
        height: 0%;
    }
}

.home-button {
    position: absolute;
    top: 3%;
    left: 2%;
    font-size: 2rem;
    color: white;
    text-align: center;
    display: block;
    cursor: pointer;
}

.home-button::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.home-button:hover::after {
    width: 100%;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}

.form-title {
    position: relative;
    width: 40%;
    height: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.form-text {
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 75%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.form-submit {
    width: 40%;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 3%;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    overflow: hidden;
    cursor: pointer;
}


.form-submit:hover {
    transform: translateX(-50%) scale(1.1);  
}

.form-submit::after {
    content: '';
    position: absolute;
    left: -150%;
    width: 200%;
    height: 25%;
    background-color: white;
    transform: rotateZ(45deg);
    transition: all;
    transition-duration: 1000ms;
}

.form-submit:hover::after {
    left: 100%;
}

.form {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    color: white;
}

.form-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.form-box-one {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-box-two {
    display: flex;
}

.form-item {
    position: relative;
    display: flex;
    align-items: center;
}

.form-input {
    width: 75%;
    position: relative;
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: white;   
    color: white;
    padding: 2%;
}

.form-input:focus {
    outline: none;
}   

#message {
    width: 100%;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    padding: 3%;
    resize: none;
}

#message:focus {
    outline: none;
}

.name-placeholder, .email-placeholder {
    position: absolute;
    top: -10%;
    left: 2%;
    font-size: 1rem;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.name-placeholder::after, .email-placeholder::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 110%;
    left: 0%;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.form-input:focus + div::after {
    width: 100%;
}

.invalid {
    width: 90%;
    position: absolute;
    color: red;
    font-size: 1rem;
    transition: all;
    transition-duration: 500ms;
    opacity: 0;
    top: 120%;
}

.msg-invalid {
    top: -20%;
    width: max-content;
}

@media only screen and (max-width: 750px) {
    .form-container {
        flex-direction: column;
        justify-content: space-around;
        height: 70%;
    }

    .form-title {
        width: 100%;
    }

    .form {
        width: 100%;
    }

    .form-box {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .form-box-one {
        width: 50%;
        height: 100%;
        justify-content: space-around;
    }

    .form-box-two {
        width: 50%;
    }

    .msg-invalid {
        top: 105%;
        width: 100%;
    }
}

.about-container {
    color: white;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-title {
    font-size: 3rem;
    margin-bottom: 5%;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: white;
    width: max-content;
}

.about-attributes {
    font-size: 2rem;
    margin-bottom: 5%;
}

.about-text {
    font-size: 1.5rem;
}
.skills-text {
    font-size: 2rem;
}

.about-skills {
    margin-top: 5%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 450px) {
    .about-text {
        font-size: 1rem;
    }
    
    .skills-text, .about-attributes {
        font-size: 1.5rem;
    }
}

.skills {
    position: relative;
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}

.js, .html, .css, .bootstrap, .json, .react, .sass, .mongo, .php, .node, .mysql {
    width: 3rem;
    height: 3rem;
    position: relative;
}

.work-title {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 12%;
    left: 2%;
}

.projects-container {
    position: absolute;
    width: 50%;
    color: white;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    gap: 0;
    overflow: auto;
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: all;
    transition-duration: 500ms;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: white;
}

.project-item:hover {
    z-index: 9;
    color: transparent;
}

.project-item::before {
    content: var(--content);
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    color: black;
    background-color: white;
    transition: all;
    transition-duration: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    opacity: 0;
}

.project-item:hover::before {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.project-item::after {
    content: '';
    background-image: var(--img);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}  

@media only screen and (max-width: 650px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .my-name {
        font-size: 6vw;
    }

    .project-item::before {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 1350px) {
    .nav-item, .nav-item > i, .home-button, .work-title {
        font-size: 1.5rem;
    }
}

#description {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    width: 15%;
    height: 75%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description::before {
    content: 'Description';
    color: white;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
}

#description-text {
    width: 100%;
    height: 50%;
    padding: 2%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#canvas {
    position: absolute;
    z-index: -1;
    background-color: transparent;
}